.ClubBody {
  min-height: 50vh;
  width: 100vw;
  background: transparent;

}
.ClubHeading {
  margin-top: 10px;
  font-size: 60px;
  font-weight: bold;
  color: rgb(252, 2, 177);
}

.ClubLogos {
  height: 25vh;
  width: 100%;
  overflow: hidden;
  padding: 20px;
}
.ClubLogos img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  display: block;
  margin: 10px;
}
@media (max-width: 768px) {
.ClubLogos{
    flex-direction: column;
    overflow:auto;
    height: 50vh;
}


}
