.zero {
  margin-top: 0%;
}
.facultymentors {
  background: #6e58a3;
  color: white;
  min-height: 40vh;

}
/* .subscreen{
  display: grid;
  grid-template-columns: auto auto;
  grid-area: auto;
  justify-content: space-evenly;
} */
.card {
  width: 400px;
  margin: 12px;
  height: 200px;
  border-radius: 5px;
  color: rgb(8, 8, 8);
  background-color: rgb(172, 202, 232);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.605);
  transition: 1.2s all ease;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgb(243, 243, 3);
  background-color: black;
  color: wheat;
  transform: scale(1.08);
}

.width1 {
  width: 150px;
}

.width2 {

  width: 250px;
  font-size: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
}

/* Styling for .memberimage */
.memberimage {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  /* border-radius: 5px 0px 0px 5px; */
}

/* Styling for .imagediv */
.imagediv {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  /* .width1{
    width: 100%;
    height: auto; 
        margin: 0;
    padding:0;
  }
  .width2{
    padding: 10px;
    width: 100%;
    height: auto;
  } */
  .card {
    height: auto;
    overflow: hidden;
  }
}
