.visionBody {
  min-width: 100vw;
  min-height: 100vh;
}

.visionContainer {
  width: 70vw;
  min-height: 100%;
  padding: 15px;
  border-radius: 20px;
  margin: 15px;
  background: linear-gradient(to right top, #6668e6, black);
}
.visionContainer .subContainer {
  min-width: 100%;
  min-height: 25vh;
  margin: 15px;
}

.visionContainer .width1 {
  width: 30%;
  height: 25vh;
}
.visionContainer .width2 {
  width: 70%;
  padding: 10px;
  padding-top: 0px;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: justify;
  height: 20vh;
  /* overflow: scroll; */
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.visionContainer .width2 h2{
  margin-top: 0%;
}
.width2::-webkit-scrollbar {
  width: 0rem; 
}

.width2::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.width2::-webkit-scrollbar-track {
  background-color: transparent;
}
.visionImage1 {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 5px 0px 0px 5px;
}
.visionImage2 {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 0px 5px 5px 0px;
}
.imagdiv {
  width: 200px;
  height: 200px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .visionContainer {
    min-width: 90vw; 
    margin: 10px; 
  }

  .visionContainer .subContainer {
    min-height: 15vh;
  }
}
